.links
{
	/*pointer-events: all;
	
	margin-right: 10px;
	margin-top: 5px;*/
	text-decoration: none;
	float:right; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	/*margin:5px; */
	padding-top: 4px; 
	height:30px; 
	margin-right: 8px; 
	/*font-size: 15px;*/
}


.detail_tab_style
{
	z-index: 10;
	pointer-events:none;
	position: absolute;
	opacity: 100%;
}

.text_tag
{
	margin-top: 20px;
	height: 120px;
	overflow-wrap: normal;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	font-weight: bolder;
	font-size: 1.1em;
	font-weight: bolder;
	width: 800px;
}

.slide_number_tag
{
	user-select: none;
	font-size: 2em;
}

.slide_container
{
	user-select: none;
	text-align: center;
	width: 1100px;
	height: 600px;
	padding-top: 2%;
	background: lightseagreen;
	border-radius: 20px;
	border: 10px solid darkviolet;
}

.slide_image
{
	user-select: none;
	border-radius: 20px;
	box-shadow:0 0 10px ;
	/*box-shadow: blur;*/
	/*background-blend-mode: all;*/
	border: 10px solid palevioletred;
}

.dis_tab_style
{
	pointer-events:none;
	position: absolute;
	opacity: 100%;
	transform-origin: top left;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.scroll_box__heap_element
{

  user-select: none;
  box-sizing:border-box;
  height: 40px;
  text-align: center;
  margin-right: 2px;
}

.dijsktra_distance_tag
{
	pointer-events:none;
	user-select: none;
	position: absolute;
	left: ;
}

.scroll_box__heap_element_name
{
  user-select: none;
  box-sizing: border-box;
  border: 4px solid yellow;
  border-radius: 10px;
  background: palevioletred;
  float: left;
  width: 70%;
  height: 100%;
  font-size: 1.3em;
}

.scroll_box__heap_element_value
{
	user-select: none;
  box-sizing: border-box;
  border: 4px solid yellow;
  border-radius: 10px;
  background: palevioletred;
  height: 100%;
  width:  30%;
  float: left;
  font-size: 1.3em;
}


.scroll_box_element{
	user-select: none;
	height: 40px;
	border: 2px solid palevioletred;
	width: 100%;
	overflow-x: hidden;
	background: palevioletred;
	border:2px solid yellow;
	overflow-y: hidden;
	text-align: center;
	padding-left: 4px;
	box-sizing: border-box;
	padding-top: 7px;
	font-weight: bold;
}

.disappeared
{
	
	right:-25%;
}

.appeared
{
	right: 0px;
}

.svg_graphics{
	position: absolute; 
}


.radio_buttons:hover , .smooth:focus
{
	background-color: #67e4de;
	transform: scale(1.1);
}



.radio_buttons
{
	pointer-events: all;
	cursor: pointer;
	border-radius: 6px;
	user-select: none;
	box-shadow: 1px 2px black;
	background: floralwhite;
	border: 2px solid darkred;
	color: red;
	text-align: center;
	padding: 3px;
	transition-property: background-color, letter-spacing,transform;
 	transition-duration: 0.5s ,0.3s,0.3s;
 	transition-timing-function: ease, ease,ease;
 	font-weight: bolder;
}

.options
{
	text-shadow: 0.1px 0.2px black;
	font-stretch: ultra-expanded;
	font-weight: bold;
	margin: 7px;
	padding-left: 10px;
}

.panel_buttons
{
	height: 100%;
}

.control-panel
{
	z-index: 11;
	position: absolute;
	transition-property: right;
	transition-property: left;
	transition-duration: 0.3s;
	border-radius: 10px;
	user-select: none;
	width:550px ;
	background: palevioletred;
	box-sizing: border-box;
	border: 5px solid lightgreen;
	height: 120px;
	margin: 5px 5px 5px 0px;
	color: darkgreen;
	padding: 10px;
	padding-top: 5px;
}

.node:hover {
	background: lightseagreen;
	transform: scale(1.2);
}


.node{
	animation: slide-up 0.4s ease;
	transition-property: height,width,border,background,transform;
	transition-duration:0.3s ;
	user-select: none;
	pointer-events:all;
	/*overflow: visible visible;*/
	font-weight: bold;
	cursor: pointer;
	color: black;
	text-align: center;
	padding-top:13px;
	padding-bottom:12.5px;
	position: absolute; 
	left: 100px;
	top: 20px; 
	background: palevioletred;
	height: 50px;
	width: 50px;
	border-radius: 50%; 
	box-sizing:border-box; 
	border:4px solid #c2789e;
	/*text-overflow:  ellipsis " [..]";*/
}