
line{
	user-select: none;
	/*stroke: saddlebrown;*/
	stroke: #c2789e;
	stroke-width:8;
	pointer-events: none;
}

rect{
	user-select: none;
	box-sizing: border-box;
	fill:#67e4de;
	stroke-width:3;
	stroke:#ff6666;
	pointer-events:none;
}
text{
	user-select: none;
	color: red;
	stroke: darkolivegreen;
}