
line{
	stroke: saddlebrown;
	stroke-width:8;
	pointer-events:all;
}



rect{
	box-sizing: border-box;
	fill:#67e4de;
	stroke-width:3;
	stroke:#ff6666;
	pointer-events:all;
}


text{

	stroke: darkolivegreen;
}