h1{
	height: 60px;align-content: center; 
	border: 3px solid black; 
	padding-top: 5px;
	padding-left: 8px;
	box-sizing: border-box; 
	border-radius: 10px;
	margin: 0px;
	/*visibility: ;*/
}

svg {
	pointer-events: none;
	overflow: visible;
}

body
{
	background-color: floralwhite;
}

textarea:focus
{
	
	outline: none;
}

@keyframes slide-up {
    0% {
        transform: scale(0);
    }
    100% {
    	transform: scale(1.0);
        
    }
}

