h1{
	pointer-events: none;
	height: 60px;align-content: center; 
	border: 3px solid black; 
	padding-top: 5px;
	padding-left: 8px;
	box-sizing: border-box; 
	border-radius: 10px;
	margin: 0px;
	box-sizing: border-box;
	position: absolute;
	left: 5%;
	top: 2%;
	width: 90%;
	background: lightseagreen;
	background-color:rgba(255, 0, 0, 0.4);
}

h2{
	text-align: center;
	pointer-events: none;
	height: 60px;align-content: center;
	border: 3px solid black; 
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	box-sizing: border-box; 
	border-radius: 10px;
	margin: 0px;
	box-sizing: border-box;
	position: absolute;
	width: auto;
	min-width: 50px;
	background-color:rgba(255, 123, 123, 0.2);
}

svg {
	pointer-events: none;
	overflow: visible;
}

body
{
	background-color: floralwhite;
	margin: 0px;
	padding: 0px;  
	overflow: hidden;
}

textarea:focus
{
	
	outline: none;
}

@keyframes slide-up {
    0% {
        transform: scale(0);
    }
    100% {
    	transform: scale(1.0);
        
    }
}

