#scroll_box
{
  background-color: gray;
  /*border: 2px solid black;*/
  height: 100px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  /*scroll-behavior: smooth;*/
}

.scroll_box_element
{
  height: 20px;
  background-color: seagreen;
  box-sizing: border-box;
  border: 2px solid green;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1
{
  margin: 0px;
  height: 100px;
}
button
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 20px;
}
body
{
  margin: 0px;
}